.weather-hourly {
  &-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    & span {
      padding-right: 5px;
    }
  }

  &-th-icon {
    width: 25%;
  }

  &-th-date {
    width: 125px;
  }
}

@media (max-width: 768px) {
  .weather-hourly {
    &-title {
      font-size: 1.5rem;
    }
  }
}
