<main class="pt-5 pb-5">
  <app-spinner *ngIf="loading; else loaded"></app-spinner>
  <ng-template #loaded>
    <div class="container col-md-8 col-sm-12" *ngIf="forecastsHourly">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="weather-hourly-title">
          <span>{{cityName}}</span>
          <small><em>Hourly Weather</em></small>
        </h1>
        <div>
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="goBack()">Back</button>
        </div>
      </div>
      <table class="table" *ngFor="let forecastHourly of forecastsHourly; trackBy: trackByForecastHourly">
        <thead class="thead-dark">
        <tr>
          <th scope="col" class="weather-hourly-th-date">{{forecastHourly.dt * 1000 | date:'EEE, LLL dd'}}</th>
          <th scope="col" class="weather-hourly-th-icon"></th>
          <th scope="col">Temp</th>
          <th scope="col" class="d-none d-sm-table-cell">Humidity</th>
          <th scope="col">Wind</th>
        </tr>
        </thead>
        <tbody *ngFor="let forecast of forecastHourly.forecasts; trackBy: trackByForecasts">
        <tr>
          <td>{{forecast.dt * 1000 | date:'HH:mm'}}</td>
          <td>
            <i class="card-img owf owf-2x owf-{{forecast?.weather ? forecast.weather[0].id : '950'}}"></i>
            <span>{{(forecast.weather ? forecast?.weather[0].description : '') | titlecase }}</span>
          </td>
          <td>
            {{forecast.main?.temp | number:'1.0-0'}}<sup>°</sup><span>C</span>
          </td>
          <td class="d-none d-sm-table-cell">{{forecast.main?.humidity}}%</td>
          <td>
            {{forecast.wind?.speed | number:'1.0-0'}}
            <span>m/s</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-error-alert [message]="error"></app-error-alert>
  </ng-template>
</main>
