.card {
  &-img {
    padding-top: 1rem;
  }

  &-title {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0;
  }

  &-sub-title {
    font-size: 0.75rem;
  }

  &-description {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-top: -0.5rem;
  }

  &-body p {
    margin-bottom: 5px;
  }

  &-temp {
    font-size: 2rem;
  }

  &-temp-avg > span,
  &-sub-title span{
    padding-right: 5px;
  }

  &--text-bold {
    font-weight: bold;
  }

  &-temp-avg {
    padding-top: 5px;
  }

  &-wind {
    position: relative;
    padding-top: 5px;

    & span {
      position: relative;
      top: -3px;
    }
  }
}
