<div class="card  text-center border-0" *ngIf="forecast">
  <i class="card-img owf owf-3x owf-{{forecast?.weather ? forecast.weather[0].id : '950'}}"></i>
  <div class="card-body">
    <h5 class="card-title text-truncate">{{forecast?.name}}</h5>
    <h6 class="card-sub-title">
      <small class="text-muted">
        <span>as of</span>
        <span>{{forecast?.dt * 1000 | date:'shortTime'}}</span>
      </small>
    </h6>
    <p class="card-temp">
      <span>{{forecast.main?.temp | number:'1.0-0'}}</span>
      <sup>°</sup>C
    </p>
    <p class="card-description text-truncate">
      {{forecast.weather ? forecast?.weather[0].description : ''}}
    </p>
    <p class="card-temp-avg">
      <span>H</span>
      <span class="card--text-bold">
            <span>{{forecast.main?.temp_max | number:'1.0-0'}}</span>
            <sup>°</sup>
          </span>
      <span>/</span>
      <span>L</span>
      <span class="card--text-bold">
            <span>{{forecast.main?.temp_min | number:'1.0-0'}}</span>
            <sup>°</sup>
          </span>
    </p>
    <p class="card-wind">
      <i class="card-wind__icon owf
            owf-{{windSpeed.getWindScaleIcon(forecast?.wind?.speed, 'ms')}}">
      </i>
      <span class="card--text-bold">
            {{forecast.wind?.speed | number:'1.0-0'}}
          </span>
      <span>m/s</span>
    </p>
  </div>
</div>

