.dashboard-title {
  font-size: 2rem;
  & small {
    padding-right: 5px;
  }
}

.card-container {
  border: 2px solid #dee2e6;
  margin: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  outline: none;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .dashboard-title {
    font-size: 1.5rem;
  }
}
