<main class="pt-5 pb-5">
  <app-spinner *ngIf="loading; else loaded"></app-spinner>
  <ng-template #loaded>
    <div class="container" *ngIf="forecasts">
      <h1 class="dashboard-title">
        <small>Weather on </small>
        <em>{{currDate | date:'mediumDate'}}</em>
      </h1>
      <div class="row">
        <div class="col card-container"
             *ngFor="let forecast of forecasts; trackBy:trackByForecasts"
             routerLink="/weather/{{forecast.id}}/{{forecast.name}}" >
          <app-weather-card [forecast]="forecast"></app-weather-card>
        </div>
      </div>
    </div>
    <app-error-alert [message]="error"></app-error-alert>
  </ng-template>
</main>
